<div class="nycidm-header" role="navigation" aria-label="Login">
    <div class="upper-header-black">
        <div class="container-nycidm">
                <span class="upper-header-right">
                    <span class="upper-header-a">
                        <a href="#">Log In</a>
                    </span>
                </span>
            <span class="upper-header-left">
    		<a href="http://www1.nyc.gov/"><img class="small-nyc-logo" alt="NYC Logo" src="{{ url_for('static', filename='img/nyc_white@x2.png') }}"></a>
    		<img class="vert-divide" alt="" src="{{ url_for('static', filename='img/upper-header-divider.gif') }}">
                <span class="upper-header-black-title">
                    Government Publications Portal
                </span>
            </span>
        </div>
    </div>
</div>